

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<link rel="shortcut icon" href="favicon.ico">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>长安资产</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/iehack.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.4.2.min.js"></script>
<script src="js/dh.js"></script>

<script type="text/javascript">  
   $(document).ready(function(){   
       var leftsize = -600;   
       $("#btn_l").click(function(){
			if(leftsize > -298){
			   leftsize = leftsize - 298;
               $(".cc").animate({"left":leftsize});
			   }
			else if(leftsize = -298) {
			   leftsize = leftsize - 298;
               $(".cc").animate({"left":leftsize});
			}
			else {$(".cc").css('left','0px');}
        });   
  
       $("#btn_r").click(function(){   
			if(leftsize < -298){
			   leftsize = leftsize + 298;
               $(".cc").animate({"left":leftsize});
			   }
			else if(leftsize = -298) {
			   leftsize = leftsize + 298;
               $(".cc").animate({"left":leftsize});
			}
			else{$(".cc").css('left','-494px');}
       });   
    });   
   </script> 




<!--[if IE 6]>
<script type="text/javascript" src="js/png.js" ></script>
<script type="text/javascript">
DD_belatedPNG.fix('*');
</script>
<![endif]-->

</head>




<body>
	<div class="cont">	
	<div class="head">
		<div class="top1">
			<a href="/member/login.php">登录</a> |
			<a href="/member/index_do.php?fmdo=user&dopost=regnew">注册</a> |
			<a href="lxwm.html">联系我们</a>
		</div>
		<div class="logo"><img src="images/logo.png" alt="" /></div>
<div class="clear"></div>
	</div>
<div class="nav">

	<ul>
		<li><a href="index.html">网站首页</a></li>
		<li class="fcd"><a href="cpyx.html">公司产品</a>
<ul id="xlzcd">
	<li><a href="xptj.html">新品推荐</a></li>
	<li><a href="cpyx.html">产品优选</a></li>

</ul>
		</li>
		<li class="fcd"><a href="news.html">信息披露</a>
		<ul id="xlzcd">
	<li><a href="notice.html">成立公告</a></li>
	<li><a href="notice.html">分配及兑付公告</a></li>
	<li><a href="notice.html">开放及相关公告</a></li>
		<li><a href="notice.html">项目运作报告</a></li>
			<li><a href="notice.html">其他公告</a></li>
</ul>
		</li>
		<li class="fcd"><a href="about.html">关于我们</a>
				<ul id="xlzcd">
	<li><a href="#">公司简介</a></li>
	<li><a href="#">公司动态</a></li>
	<li><a href="#">业务介绍</a></li>
		<li><a href="#">企业文化</a></li>
			<li><a href="lxwm.html">联系我们</a></li>
</ul>
		
		</li>
		<li class="fcd"><a href="czxt.html">长安学堂</a>
						<ul id="xlzcd">
	<li><a href="#">理财园地</a></li>
	<li><a href="#">行业资讯</a></li>
	<li><a href="#">政策法规</a></li>
		<li><a href="#">反洗钱专栏</a></li>
		
</ul>
		</li>
		<li class="fcd"><a href="#">服务中心</a>
								<ul id="xlzcd">
	<li><a href="#">我们的服务</a></li>
	<li><a href="#">网上自助</a></li>
	<li><a href="#">在线客服</a></li>
		<li><a href="#">注册服务</a></li>
		<li><a href="#">客户俱乐部</a></li>
</ul>
		</li>
		<li><a href="zp.html">诚聘英才</a></li>
	</ul>
</div>


<div class="dycont">
	<div class="dyleft">
		<img src="images/kftp.jpg" alt="" />
		<div class="zcdh">
			<h2><div>信息披露 <span> Information</span></div></h2>
		<ul>
			<li class="on1"><a href="#">成立公告</a></li>
			<li><a href="#">分配及兑付公告</a></li>
			<li><a href="#">开放及相关公告</a></li>
			<li><a href="#"=>项目运作报告</a></li>
			<li style="border:0px;"><a href="#">其他公告</a></li>
		</ul>

		</div>

<div class="zxj">
	<img src="images/slt2.jpg" class="slt2" alt="" />
	<div class="zxjy"><span>福晟·钱隆<br>
学府四期</span><a href="#"><img src="images/xaniu.jpg" alt="" /></a></div>
</div>



	</div>
	<div class="dyright">
		<div class="rposi"><span class="span1">信息披露</span>
			 <div class="posi">您现在的位置：<a href="index.html">首页</a> > <a href="news.html">信息披露</a>> <a href="notice.html">成立公告 </a></div>
	<div class="clear"></div>
		</div>

<div class="rnr">
<div class="d1bt"><span>成立公告</span> <a href="#"><img src="images/more.png" alt="" /></a>
<div class="clear"></div>
</div>

<div class="lb3">
<ul>
	<li><a href="#">潍坊三河特定多个客户专项资产管理计划成立公告</a><span>2014-07-25</span>
	</li>
<li><a href="#">潍坊三河特定多个客户专项资产管理计划成立公告</a><span>2014-07-25</span></li>
<li><a href="#">潍坊三河特定多个客户专项资产管理计划成立公告</a><span>2014-07-25</span></li>
<li><a href="#">潍坊三河特定多个客户专项资产管理计划成立公告</a><span>2014-07-25</span></li>
<li><a href="#">潍坊三河特定多个客户专项资产管理计划成立公告</a><span>2014-07-25</span></li>
<li><a href="#">潍坊三河特定多个客户专项资产管理计划成立公告</a><span>2014-07-25</span></li>
<li><a href="#">潍坊三河特定多个客户专项资产管理计划成立公告</a><span>2014-07-25</span></li>
<li><a href="#">潍坊三河特定多个客户专项资产管理计划成立公告</a><span>2014-07-25</span></li>
<li><a href="#">潍坊三河特定多个客户专项资产管理计划成立公告</a><span>2014-07-25</span></li>
</ul>
</div>

<div class="clear"></div>

<div class="paging" style="margin-left:500px;">
	<span>第1页/共34页</span>
 <a href="">首页</a>
<a href="">上一页</a>
<a href="">下一页</a>
<a href="">尾页</a>
</div>



</div>



	</div>

	<div class="clear"></div>
</div>





<div class="foot">
	<div class="footnav">
		<a href="#">公司简介</a>
		<a href="#">联系我们</a>
		<a href="#">网站声明</a>
		<a href="#">隐私保密</a>
		<a href="#">工商信息</a>
		<a href="#">洽谈合作</a>
		<a href="#">诚聘英才</a>
		<a href="#" style="border:0px;">网站地图</a>
		<div class="clear"></div>
	</div>		

<p>长安资产版权所有 | 沪ICP备08018085号</p>
</div>
</div>
</body>
</html>