

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<link rel="shortcut icon" href="favicon.ico">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>长安资产</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/iehack.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.4.2.min.js"></script>


<script type="text/javascript">  
   $(document).ready(function(){   
       var leftsize = -600;   
       $("#btn_l").click(function(){
			if(leftsize > -298){
			   leftsize = leftsize - 298;
               $(".cc").animate({"left":leftsize});
			   }
			else if(leftsize = -298) {
			   leftsize = leftsize - 298;
               $(".cc").animate({"left":leftsize});
			}
			else {$(".cc").css('left','0px');}
        });   
  
       $("#btn_r").click(function(){   
			if(leftsize < -298){
			   leftsize = leftsize + 298;
               $(".cc").animate({"left":leftsize});
			   }
			else if(leftsize = -298) {
			   leftsize = leftsize + 298;
               $(".cc").animate({"left":leftsize});
			}
			else{$(".cc").css('left','-494px');}
       });   
    });   
   </script> 




<!--[if IE 6]>
<script type="text/javascript" src="js/png.js" ></script>
<script type="text/javascript">
DD_belatedPNG.fix('*');
</script>
<![endif]-->

</head>




<body>
	<div class="cont">	
	<div class="head">
		<div class="top1">
			<a href="/member/index.php">登录</a> |
			<a href="/member/index_do.php?fmdo=user&dopost=regnew">注册</a> |
			<a href="lxwm.html">联系我们</a>
		</div>
		<div class="logo"><img src="images/logo.png" alt="" /></div>
<div class="clear"></div>
	</div>
<div class="nav">
	<ul>
		<li><a href="index.html">网站首页</a></li>
		<li><a href="product.html">公司产品</a></li>
		<li><a href="#">信息披露</a></li>
		<li><a href="contact.html">关于我们</a></li>
		<li><a href="#">长安学堂</a></li>
		<li><a href="#">服务中心</a></li>
		<li><a href="诚聘英才.html">诚聘英才</a></li>
	</ul>
</div>

<div class="banner1">
	<img src="images/bannercpyc.jpg" alt="" />
</div>

<div class="nrtop">
	<span>诚聘英才</span> <div class="posi">您现在的位置：<a href="#">首页</a> > <a href="#">诚聘英才</a></div>  
	<div class="clear"></div>
</div>

<div  class="zpxq">
	<div class="bt">财富经理(上海)/直销人员
<br><span>2014-08-28</span>
	</div>

<ul class="jj">
	<li>招聘人数: <span>1人</span></li>
	<li>学历：<span>本科</span></li>
	<li>工作地点：<span>上海</span></li>
	<li>工作年限：<span>3年以上</span></li>
</ul>

<div class="zpyq">
	<div class="yqbt">【职位描述】</div>
	<div class="yqms">1、开发高净值客户（单笔认购资产管理计划100万元以上），与客户建立长期良好关系；<br>
2、对客户的综合理财需求分析，帮助客户制订资产配置方案；<br>
3、向客户推介基金资管计划等理财产品，每月完成公司制定的指标和业绩任务；<br>
4、持续跟进与服务，为客户不断提供专业的财富管理咨询。</div>
</div>

<div class="zpyq">
	<div class="yqbt">【任职资格】</div>
	<div class="yqms">1、开发高净值客户（单笔认购资产管理计划100万元以上），与客户建立长期良好关系；<br>
2、对客户的综合理财需求分析，帮助客户制订资产配置方案；<br>
3、向客户推介基金资管计划等理财产品，每月完成公司制定的指标和业绩任务；<br>
4、持续跟进与服务，为客户不断提供专业的财富管理咨询。</div>
</div>

<div class="zpyq">
	<div class="yqbt">【薪酬福利待遇】</div>
	<div class="yqms">1、开发高净值客户（单笔认购资产管理计划100万元以上），与客户建立长期良好关系；<br>
2、对客户的综合理财需求分析，帮助客户制订资产配置方案；<br>
3、向客户推介基金资管计划等理财产品，每月完成公司制定的指标和业绩任务；<br>
4、持续跟进与服务，为客户不断提供专业的财富管理咨询。</div>
</div>

<div class="zpyq" style="margin-top:10px;">
	<div class="yqbt">申请方式：发送简历至 hr@caitongam.com</div>

</div>

<img src="images/qzsq.jpg" class="qzsqbt" alt="" />
</div>


<div class="foot">
	<div class="footnav">
		<a href="#">公司简介</a>
		<a href="#">联系我们</a>
		<a href="#">网站声明</a>
		<a href="#">隐私保密</a>
		<a href="#">工商信息</a>
		<a href="#">洽谈合作</a>
		<a href="#">诚聘英才</a>
		<a href="#" style="border:0px;">网站地图</a>
		<div class="clear"></div>
	</div>		

<p>长安资产版权所有 | 沪ICP备08018085号</p>
</div>
</div>
</body>
</html>